Import Libraries

In [3]:
import pandas as pd
import numpy as np

Loading the CSV File

In [4]:
df = pd.read_csv('netflix_titles.csv', encoding='latin1')

Check the null Values

In [5]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Check the datatypes

In [6]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8809 non-null   object
 2   title         8809 non-null   object
 3   director      6175 non-null   object
 4   cast          7984 non-null   object
 5   country       7978 non-null   object
 6   date_added    8799 non-null   object
 7   release_year  8809 non-null   int64
 8   rating        8805 non-null   object
 9   duration      8806 non-null   object
 10  listed_in     8809 non-null   object
 11  description   8809 non-null   object
dtypes: int64(1), object(11)
memory usage: 826.0+ KB

In [8]:
df.describe()

       release_year
count   8809.000000
mean    2014.181292
std        8.818932
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2024.000000

In [9]:
df['country'].value_counts()

country
United States                             2819
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                200
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: count, Length: 748, dtype: int64

Formatting the date

In [11]:
#df['date_added'] = pd.to_datetime(df['date_added'], format='%d-%m-%Y')

In [13]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
# mean_cast = df['cast'].mean()
# median_cast = df['cast'].median()
# mode_cast = df['cast'].mode().iloc[0] 
# method = 'mean'
# if method == 'mean':
#     df['cast'].fillna(mean_cast, inplace=True)
# elif method == 'median':
#     df['cast'].fillna(median_cast, inplace=True)
# elif method == 'mode':
#     df['cast'].fillna(mode_cast, inplace=True)
df.dtypes

In [17]:
date_mode = df['date_added'].mode()[0]
date_mode
df['date_added'].fillna(pd.to_datetime('01-01-2020', format = '%d-%m-%Y'), inplace= True)
df['date_added'].isnull().sum()
df.isnull().sum()
df['cast'].dtype
total_rows = len(df)
missing_cast = df['cast'].isnull().sum()
missing_percentage = (missing_cast / total_rows) * 100
missing_percentage

9.365421727778408

In [16]:
df['director'].fillna('unknown', inplace =True)
df['director'].isnull().sum()

0

In [22]:
cast_mode = df['cast'].mode()[0]
cast_mode

TypeError: unsupported operand type(s) for +: 'int' and 'str'